/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: linear-gradient(0deg, rgb(179 177 177) 0%, rgb(21 59 82) 100%);
}
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
/*--- end of reset ----*/

:root {
  --blanco: white;
  --gris-medio: #333333;
  --gris-oscuro: #1e1e1e;
  --main-font: "Oswald", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
  --pink: #ffaea6;
}
body,
header,
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header {
  color: var(--pink);
  font-family: var(--main-font);
  font-size: 55px;
  margin-top: 16px;
}
.subtitle {
  color: var(--blanco);
  font-family: var(--secondary-font);
  font-size: 24px;
}

.header-img {
  border-radius: 50%;
  box-shadow: 0px 0px 50px 0px #ffffff;
  height: 30%;
  margin-top: 80px;
  width: 30%;
}
.intro {
  margin: 24px 196px 0;
  font-family: var(--secondary-font);
  color: var(--blanco);
  line-height: 1.9rem;
  font-size: medium;
  text-align: justify;
  min-width: 390px;
}
.social-media {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
  width: 100%;
}
.social-media img {
  height: 40px;
  width: 40px;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
  margin-top: 30px;
}
.project-container__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blanco);
  font-family: var(--secondary-font);
}
.project-container__card span {
  height: 30px;
  width: 150px;
  text-align: center;
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 5px;
}
.project-img {
  border-radius: 5px;
  height: 400px;
  transition: all 0.2s ease-in-out;
  width: 250px;
  object-fit: cover;
}
.contact-section {
  align-items: center;
  background: linear-gradient(rgb(159 210 241) 100%);
  display: flex;
  flex-direction: column;
  width: 100%;
}